:root{
    --cor-um: #9ca3af;
    --cor-dois: black;
    --cor-tres: white;

    --fundo: #f3f4f6;
    --fundo-dois: #9ca3af;
    --fundo-tres: #d1d5db;
}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'HarryPotter';
    src: url('./font/harry_p/HarryPotter.TTF') format('truetype');
}


body{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--fundo);
    color: var(--cor-dois);
    transition: 0.3s;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--cor-um);
    flex-grow: 1;
}

header > h1{
    font-size: 60px;
    font-family: 'HarryPotter', Arial, serif;
    letter-spacing: 3px;
}


header > div{
    display: flex;
    gap: 20px;
}

header > div > input{
    padding: 5px 10px;
    color: var(--cor-um);
    border: none;
    border-radius: 10px;
}

header > div > button{
    padding: 5px 10px;
    background-color: var(--fundo-tres);
    color: var(--cor-dois);
    border: none;
    border-radius: 10px;
}

header > div > button:hover{
    background-color: var(--fundo-dois);
}


main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    flex-grow: 9;
}

main > h1{
    font-size: 70px;
    font-family: 'HarryPotter', Arial, serif;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

main > section {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

main > section > #img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    width:  500px;
    height: 500px;
    background-color: var(--fundo-dois);
}
main > section > #img > img{
    width: 100%;
    height: 100%;
}

main > section > #texto{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width:  500px;
    height: 500px;
    gap: 30px;
}

main > section > #texto > p{
    background-color: var(--fundo-tres);
    padding: 10px;
}

main > section > #texto > #voltar-avancar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

main > section > #texto > #voltar-avancar > button{
    border-radius: 10px;
    border: None;
    padding: 10px;
    background-color: var(--fundo-tres);
    color: var(--cor-dois);
}

main > section > #texto > #voltar-avancar > button:hover{
    background-color: var(--fundo-dois);
}


.Grifinoria{

    --cor-um: #740001;
    --cor-dois: white;

    --fundo: #2a0c0c;
    --fundo-dois: #ae0001;
    --fundo-tres: #d3a625;
}

.Sonserina{

    --cor-um: #1a472a;
    --cor-dois: white;

    --fundo: #0f2e1c;
    --fundo-dois: #2a623d;
    --fundo-tres: #5d8a6f;
}

.Lufa-Lufa{

    --cor-um: #eeb939;
    --cor-dois: black;

    --fundo: #fff6d8;
    --fundo-dois: #f0c75e;
    --fundo-tres: #fff1a8;
}

.Corvinal{

    --cor-um: #0e1a40;
    --cor-dois: white;

    --fundo: #0a112b;
    --fundo-dois: #222f5b;
    --fundo-tres: #4a5d8c;
}
